@media only screen and (max-width: 1200px) {
    .hero-text-box {
        width: 100%;
        padding: 0 2%;
        left:60%;
    }
    
    .logo {
        padding-left: 0;
    }
    
    .row { padding: 0 2%; }
}

@media only screen and (max-width: 1023px) {

    body { font-size: 16px; }
    
    .logo {
        margin: 30px 0 0 30px;
        height: 90px;
        width: auto;
    }
    
    .main-nav:last-of-type {
        padding-right: 30px;
    }
    
    .section-features {
        padding: 40px 0;
    }
    
    .section-features  h3 {
        font-size: 15px;
        margin-bottom: 10px;
    }
    
    .section-steps {
        padding: 40px 0;
    }
    
    .work-steps div {
        
        padding: 10px;
    }
    
    .work-steps:last-of-type {
        margin-bottom: 60px;
    }
    
    .app-screen {
        height: 350px;
        width: auto;
    }
    
    .steps-box:first-of-type {
        padding-right: 70px;
    }
    
    .btn-app  img{
        margin-right: 10px;
    }
    
    .ppm {
        margin-bottom: 18px;
    }
    
    .section-cities {
        padding: 60px;
    }
    
    .section-cities h3{
        font-size: 16px;
    }
    
    .icon-small {
        width: 15px;
    }
}

@media only screen and (max-width: 767px) {
    body {
        font-size: 14px;
    }
    
    section { padding: 30px 0; }
    
    .row,
    .hero-text-box { padding: 0 4%; }
    h1 {
        margin-left: -15px;
    }
    
    .col { 
        width: 100%;
        margin: 0 0 4% 0;
    }
    
    .main-nav { display: none; }
    
    .mobile-nav-icon { display: inline-block; }
    
    .main-nav { 
        float: left; 
        margin-top: 30px;
        margin-left: 25px;
    }
    
    .main-nav li { display: block; } 
    
    .main-nav li a:link,
    .main-nav li a:visited {
        display: block;
        border: 0;
        padding: 10px 0;
        font-size: 100%;
    }
    
    .sticky .main-nav { margin-top: 10px; }

    .sticky .main-nav li a:link,
    .sticky .main-nav li a:visited {
        padding: 10px 0;
    }
    
    .sticky .mobile-nav-icon { margin-top: 15px; }
    .sticky .mobile-nav-icon i { color: #555; }

    h1{ font-size: 180%; }
    h2{ font-size: 150%; }

    .long-copy {
        width: 100%;
        margin-left: 0%;
    }
    
    .app-screen { 
        width: 40%; 
        height: auto; 
    }
    
    .steps-box:first-child { text-align: center}
    
    .steps-box:first-of-type {
        padding-right: 0px;
    }
    
    .work-steps div{
        height: 40px;
        width: 40px;
        margin-right: 15px;
        padding: 4px;
        font-size: 120%;
    }
    
    .work-steps { margin-bottom: 20px }
    .work-steps:last-of-type { margin-bottom: 20px: }
    
    .footer-nav li,
    .social-links li {
        margin-right: 5px;
    }
    
    footer {
        padding: 30px 0;
    }
    
    footer .col {
        width: 50%;
    }
}

@media only screen and (max-width: 480px) {
    section { padding: 25 px 0; }
    .contact-form { width: 100%; }
    
    footer .col {
        width: 100%;
    }
}